# better ls as ll - RHEL inspired
alias ll='ls -lGa'

# list the 5 most recently changed files/dirs
alias ll5='ls -ltr | tail -n5'

# make all greps colorful
alias grep='grep --color=auto'

# list all bound listening ports like linux netstat
alias netlist='sudo lsof -i -P | grep -i "listen"'

# cd to the directory currently open in finder
alias cdf="eval \"cd \\\"\\\`osascript -e 'tell app \\\\\\\"Finder\\\\\\\" to return the POSIX path of (target of window 1 as alias)'\\\`\\\"\""

# open Hex Field on a file
alias hex="open -a \"Hex Fiend\""

# show all files w/ color in tree by default
alias tree="tree -aC"

# open pycharm on a file
alias pyc='open -a /Applications/PyCharm\ CE.app'

# pretty print a JSON file
alias pprint="python -m json.tool"

# open a mitmproxy stream file in CLI
alias mitmread="mitmproxy --no-server -r"

# open a mitmproxy stream file in web
alias mitmreadweb="mitmweb --no-server -r"
