# pretty PS1
export PS1="\[\033[01;32m\]\u\[\033[01;34m\][\w]\[\033[00m\]$ "

# better ls as ll - RHEL inspired
alias ll='ls -lGa'

# list the 5 most recently changed files/dirs
alias ll5='ls -ltr | tail -n5'

# make all greps colorful
alias grep='grep --color=auto'

# list all bound listening ports like linux netstat
alias netlist='sudo lsof -i -P | grep -i "listen"'

# cd to the directory currently open in finder
alias cdf="eval \"cd \\\"\\\`osascript -e 'tell app \\\\\\\"Finder\\\\\\\" to return the POSIX path of (target of window 1 as alias)'\\\`\\\"\""

# open Hex Field on a file
alias hex="open -a \"Hex Fiend\""

# show all files in tree by default
alias tree="tree -a"

# open pycharm on a file
alias pyc='open -a /Applications/PyCharm\ CE.app'

# run a shell in currently running docker container
alias dockersh="docker exec -it `docker ps | sed -n 2p | cut -f 1 -d ' '` /bin/bash"

# pretty print a JSON file
alias pprint="python -m json.tool"
